<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Permitir que los archivos estáticos como manifest.json sean accesibles directamente
    RewriteRule ^public/manifest.json$ - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>